%section
  %h2 Applcant Details
  = fields_for applicant, applicant, builder: BackOfficeFormBuilder do |af|
    = af.label :title, 'Title'
    = af.text_field :title, class: 'narrow'

    = af.label :forename, 'Forename'
    = af.text_field :forename

    = af.label :surname, "Surname"
    = af.text_field :surname

    = af.date_fieldset :applicant, :date_of_birth, 'Date of Birth'
   

    = af.label :ni_number, 'National Insurance Number'
    = af.text_field :ni_number, class: 'narrow'