%section
  %h2 Applicant Details
  = fields_for claim.applicant, claim.applicant, builder: BackOfficeFormBuilder do |af|
    = af.label :title, 'Title'
    = af.text_field :title, class: 'narrow'

    = af.label :forename, 'First name'
    = af.text_field :forename

    = af.label :surname, "Last name"
    = af.text_field :surname
  
  %p

  = fields_for claim, claim, builder: BackOfficeFormBuilder do |claim_form|
    = claim_form.date_fieldset :claim, :date_signed, 'Date signed'
