%section
%h2 Case Details

= fields_for claim do |cf|

  %fieldset.inline
    .form-group.form-group-compound
      %label.block-label{for: 'radio-casetype-new'}
        = cf.radio_button :new_case, 1, {id: 'radio-casetype-new'}
        New case
      %label.block-label{for: 'radio-casetype-new'}
        = cf.radio_button :new_case, 0, {id: 'radio-casetype-existing'}
        Existing case

    .panel-indent#missing-evidence-reasons
      = cf.label :case_number, class: 'form-label'
      = cf.text_field :case_number
