%section
%h2 Case Details

= fields_for claim, claim, builder: BackOfficeFormBuilder  do |claim_form|

  = claim_form.label :procedure_name, 'Claim Type/Form Number'
  = claim_form.text_field :procedure_name

  = claim_form.label :court_fee, 'Fee'
  = claim_form.text_field :court_fee, class: 'pound narrow'

  = claim_form.label :case_number, 'Case Number'
  = claim_form.text_field :case_number, class: 'narrow'

  %p
  = claim_form.date_fieldset :claim, :fee_paid_date, 'Date Fee Paid'


  