%section
%h2 Income

= fields_for applicant, applicant, builder: BackOfficeFormBuilder do |applicant_form|
  %fieldset
    .form-group.form-group-compound
      %label.block-label{for: 'income-status-benefits', :'data-target' => 'dob-ni-number'}
        = applicant_form.radio_button :income_status, 'false', {id: 'income-status-benefits', name: 'applicant[income_status]'}
        Receiving Benefits
      %label.block-label{for: 'income-status-low', :'data-target' => 'status-money-children'}
        = applicant_form.radio_button :income_status, 'true', {id: 'income-status-low', name:  'applicant[income_status]'}
        On a low income

    .panel-indent.js-hidden#dob-ni-number
      = applicant_form.date_fieldset :applicant, :date_of_birth, 'Date of Birth'

      = applicant_form.label :ni_number, 'National Insurance Number'
      = applicant_form.text_field :ni_number, class: 'narrow'

    .panel-indent.js-hidden#status-money-children
      %fieldset.inline
        %legend.form-label Status
        .form-group.form-group-compound
          %label.block-label{for: 'single-status'}
            = applicant_form.radio_button :status, 'single', {id: 'single-status', name: 'applicant[status]'}
            Single
          %label.block-label{for: 'partner-status'}
            = applicant_form.radio_button :status, 'partnered', {id: 'partner-status', name: 'applicant[status]'}
            Couple

        = applicant_form.label :num_dependent_children, 'Number of children'
        = applicant_form.text_field :num_dependent_children, class: 'narrow'

      %fieldset
        %legend.form-label-bold Gross Monthly Income
        %label.block-label{for: 'checkbox-1'}
          %input#checkbox-1{type: 'checkbox', value: 'full'}
          Full remission - 
          %span.emphasize £1,085 or less
        %label.block-label{for: 'checkbox-2'}
          %input#checkbox-2{type: 'checkbox', value: 'full'}
          Part remission - 
          %span.emphasize £1,086 - £5,085
        %label.block-label{for: 'checkbox-3'}
          %input#checkbox-3{type: 'checkbox', value: 'full'}
          No remission - 
          %span.emphasize £5,086 or more


