%section
%h2 Income

= fields_for applicant, applicant, builder: BackOfficeFormBuilder do |applicant_form|
  %fieldset
    .form-group.form-group-compound
      %label.block-label{for: 'income-status-benefits'}
        = applicant_form.radio_button :income_status, 'false', {id: 'income-status-benefits', name: 'applicant[income_status]'}
        Receiving Benefits
      %label.block-label{for: 'income-status-low'}
        = applicant_form.radio_button :income_status, 'true', {id: 'income-status-low', name:  'applicant[income_status]'}
        On a low income

    = applicant_form.date_fieldset :applicant, :date_of_birth, 'Date of Birth'

    = applicant_form.label :ni_number, 'National Insurance Number'
    = applicant_form.text_field :ni_number, class: 'narrow'
