%section
%h2 Remission Details


= fields_for claim, claim, builder: BackOfficeFormBuilder do |cf|
  %fieldset
    %label.block-label{for: 'refund_checkbox' }
      = cf.check_box :refund
      Applying for a refund
    


    .panel-indent#missing-evidence-reasons
      = cf.date_fieldset(:claim, :fee_paid_date, "Date Fee paid")
      
      = cf.label :refund_reference_number
      = cf.text_field :refund_reference_number
      




