%h1 Record an application for Fee Remission

= render partial: 'errors', locals: { claim: @claim }

= form_for @claim, builder: BackOfficeFormBuilder, :html => {method: :post} do |form|
  = render partial: 'case', locals: { claim: @claim }
  = render partial: 'savings', locals: { applicant: @claim.applicant }
  = render partial: 'income', locals: { applicant: @claim.applicant, claim: @claim }
  = render partial: 'applicant', locals: { claim: @claim }



  -# = render partial: 'evidence', locals: { evidence: @claim.evidence, missing_evidence_reasons: @mers }
  -
  -# = render partial: 'case', locals: { claim: @claim }
  -# = render partial: 'remission_details', locals: { claim: @claim }

  %p
  %button.button Submit Claim
  
