%h1 Record an application for Fee Remission

= render partial: 'errors', locals: { claim: @claim }

= form_for @claim,  :html => {method: :post} do |form|

  .grid-row
    .column-half
      = render partial: 'applicant', locals: { applicant: @claim.applicant }
    .column-half
      = render partial: 'evidence', locals: { evidence: @claim.evidence, missing_evidence_reasons: @mers }
  %hr      
  .grid-row
    .column-half
      = render partial: 'income', locals: { applicant: @claim.applicant, claim: @claim }
    .column-half
      = render partial: 'case', locals: { claim: @claim }
      = render partial: 'remission_details', locals: { claim: @claim }

  %button.button Submit Claim
  
