%section
  %h2 Income
  = fields_for applicant do |af|
    = field_set_tag 'Status', class: 'radio inline' do
      .inline
        .option
          = af.label 'claim_applicant_status_single' do
            Single
            = af.radio_button :status, 'single'
        .option
          = af.label 'claim_applicant_status_partnered' do
            Partnered
            = af.radio_button :status, 'partnered'
      